.contenedorPadre{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contenedorHijo{
  width: 80%;
}

.contenedorhijo2{
  width: 30%;
}

.alineaDerecha {
  display: flex;
  justify-content: flex-end;
    width: 90%;
}

.titulo{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 5rem;
}

.opcionesBTN{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}